<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->

<ul class="navbar-nav float-left mr-auto" style="width: 70%; margin-left: 14%;">
    <li class="nav-item d-none d-md-block d-lg-none">
        <a (click)="toggleSidebar.emit()" class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)">
            <i class="mdi mdi-menu font-24"></i>
        </a>
    </li>
    <li id="di" class="d-none d-md-block">
        <marquee behavior="" direction="right"><span><i class="ti-book"></i> Bibliotheque Universitaire <i class="ti-book"></i></span></marquee>
    </li>
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-right">
    <li class="mr-2">
        <button style="margin-top: 10px;" (click)="deconnexion()" class="btn btn-outline-dark ml-2 dropdown-toggle u-dropdown">Deconnexion</button>
    </li>
</ul>
