<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->

<ul class="navbar-nav float-left mr-auto" style="width: 70%; margin-left: 14%;">
    <li class="nav-item d-none d-md-block d-lg-none">
        <a (click)="toggleSidebar.emit()" class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)">
            <i class="mdi mdi-menu font-24"></i>
        </a>
    </li>
    <li id="di" class="d-none d-md-block">
        <marquee behavior="" direction="right"><span><i class="ti-book"></i> Bibliotheque Universitaire <i class="ti-book"></i></span></marquee>
    </li>
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-right">
    <li class="mr-2" [hidden]="isLogged()==true">
        <div class="profile-text">
            <button style="margin-top: 10px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="btn btn-outline-dark ml-2 dropdown-toggle u-dropdown">compte</button>
            <div class="dropdown-menu animated ">
                <div class="dropdown-divider"></div>
                <!-- text-->
                <a class="dropdown-item" (click)="open1(content1)"> Connexion</a>
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
                <a class="dropdown-item" (click)="open2(content2)">Creer un compte</a>
                <!-- text-->
                <div class="dropdown-divider"></div>
                <!-- text-->
            </div>
        </div>
    </li>
    <li class="mr-2" [hidden]="isLogged()==false">
        <button style="margin-top: 10px;" (click)="deconnexion()" class="btn btn-outline-dark ml-2 dropdown-toggle u-dropdown">Deconnexion</button>
    </li>
</ul>

<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title " id="modal-basic-title">Connexion</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form2" (ngSubmit)="login()">
            <div class="form-group">
                <span class="label label-primary">Adresse email</span>
                <input class="form-control form-control-lg" type="email" type="email" required formControlName="email" required>
            </div>
            <div class="form-group">
                <span class="label label-primary">Mot de passe</span>
                <input class="form-control form-control-lg" type="password" formControlName="password" required type="password" required>
                <br>
                <small><a href="pages-reset-password.html">Mot de passe oublie?</a></small>
            </div>
            <div class="form-group" [hidden]="valid"><small>Email ou mot de passe incorrect</small></div>
            <div id="btn">
                <button type="submit" class="btn btn-outline-dark">connexion</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title " id="modal-basic-title">Creation compte</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="AjouterEtudiant()">
            <div class="form-group">
                <span class="label label-primary">Nom</span>
                <input class="form-control form-control-lg" type="text" formControlName="nom" required>
                <div *ngIf="form.get('nom').invalid && form.get('nom').dirty">
                    <small *ngIf="form.get('nom').errors?.required">Le champ est requis</small>
                    <small *ngIf="form.get('nom').errors?.pattern">Le nom n'est valide</small>
                    <small *ngIf="form.get('nom').errors?.maxlength">La taille maximum est de 30</small>
                    <small *ngIf="form.get('nom').errors?.minlength">La taille minimun est de 2</small>
                </div>
            </div>
            <div class="form-group">
                <span class="label label-primary">Prenom</span>
                <input class="form-control form-control-lg" type="text" formControlName="prenom" required>
                <div *ngIf="form.get('prenom').invalid && form.get('prenom').dirty">
                    <small *ngIf="form.get('prenom').errors?.required">Le champ est requis</small>
                    <small *ngIf="form.get('prenom').errors?.pattern">Le prenom n'est valide</small>
                    <small *ngIf="form.get('prenom').errors?.maxlength">La taille maximum est de 30</small>
                    <small *ngIf="form.get('prenom').errors?.minlength">La taille minimun est de 2</small>
                </div>
            </div>
            <div class="form-group">
                <span class="label label-primary">Numero dossier</span>
                <input class="form-control form-control-lg" maxlength="11" type="text" formControlName="numeroDossier" required>
                <div *ngIf="form.get('numeroDossier').invalid && form.get('numeroDossier').dirty">
                    <small *ngIf="form.get('numeroDossier').errors?.pattern">Le numero de dossier doit etre compose de 11 chifres</small>
                    <small *ngIf="form.get('numeroDossier').errors?.required">Le champ est requis</small>
                </div>
            </div>
            <div class="form-group">
                <span class="label label-primary">Date de naissance</span>
                <input class="form-control form-control-lg" type="date" formControlName="dateNaissance" required>
                <div *ngIf="form.get('dateNaissance').invalid && form.get('dateNaissance').dirty">
                    <small *ngIf="form.get('dateNaissance').errors?.required">Le champ est requis</small>
                </div>
            </div>
            <div class="form-group ">
                <span class="label label-primary">Adresse email</span>
                <input class="form-control form-control-lg" type="email" formControlName="email" required />
                <div *ngIf="form.get('email').invalid && form.get('email').dirty">
                    <small *ngIf="form.get('email').errors?.pattern">L'adresse email n'est pas valide</small>
                    <small *ngIf="form.get('email').errors?.required">Le champ est requis</small>
                </div>
            </div>
            <div class="form-group ">
                <span class="label label-primary">Photo carte etudiant</span>
                <div class="custom-file ">
                    <input type="file" (change)="selectFile($event)" class="custom-file-input" formControlName="imageCle" id="inputGroupFile01 ">
                    <label class="custom-file-label" for="inputGroupFile01 ">Photo carte etudiant</label>
                    <div *ngIf="form.get('imageCle').invalid">
                        <small *ngIf="form.get('imageCle').errors?.required">Le champ est requis</small>
                    </div>
                </div>
                <div *ngIf="currentFileUpload" class="progress mt-2">
                    <div style="background-color: #42A948;" class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
                        {{ percentage }}%
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <span class="label label-primary">Mot de passe</span>
                <input class="form-control form-control-lg" type="password" formControlName="password" required />
                <div *ngIf="form.get('password').invalid && form.get('password').dirty">
                    <small *ngIf="form.get('password').errors?.pattern">Le mot de passe doit avoir au moins 8 caracteres</small>
                    <small *ngIf="form.get('password').errors?.required">Le champ est requis</small>
                </div>
            </div>

            <div class="form-group">
                <span class="label label-primary">Confirmer mot de passe</span>
                <input class="form-control form-control-lg" type="password" formControlName="confirm" required />
                <div *ngIf="form.get('confirm').invalid && form.get('confirm').dirty">
                    <small *ngIf="form.get('confirm').errors">Les mots de passe ne correspondent pas</small>
                </div>
            </div>
            <div id="btn">
                <button type="submit" class="btn btn-outline-dark" [disabled]="form.invalid">save</button>
            </div>
        </form>
    </div>
</ng-template>
