<div id="them" class="page-breadcrumb">
    <div class="row">
        <div class="col-md-10 col-sm-6 col-xs-12 align-self-center">
            <h4 id="themtxt" class="page-title mb-0">Mes emprunts </h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div style="background-color: #eef5f9;">
            <ngb-tabset justify="fill">
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Emprunt en cours</b>
                        <div *ngIf="empruntCours!=null" class="notify setpos"><span class="heartbit"></span> <span class="number"></span></div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="container " style="margin-top: 3%;" *ngIf="empruntCours!=null">
                            <div class="row clearfix justify-content-center ">
                                <div class="col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="card ">
                                        <div class="card-body ">
                                            <div class="modal-header ">
                                                <h4 class="col-md-11 col-sm-12 col-xs-12 modal-title " style="font-weight: bold; " id="modal-basic-title ">N° {{empruntCours.numeroEmprunt}}
                                                    <p>
                                                        <small>Date Debut : {{empruntCours.dateDebut | date : 'd/M/yyyy'}}  </small>
                                                        <small *ngIf="!empruntCours.confirmer"> - Delai recuperation : {{empruntCours.delai_recup | date : 'd/M/yyyy' }}  </small>
                                                        <small> - Date Fin : {{empruntCours.dateFin | date : 'd/M/yyyy'}} </small>
                                                    </p>

                                                </h4>
                                            </div>
                                            <div class="container-fluid ">
                                                <div class="row clearfix justify-content-center ">
                                                    <div class="col-md-8 col-sm-12 col-xs-12 ">
                                                        <div class="boxs project_widget ">
                                                            <div class="pw_img ">
                                                                <img height="400px " class="img-responsive " [src]="livre.imageCle.url" alt="Image du livre ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="boxs project_widget ">
                                                        <div class="pw_content">
                                                            <div class="pw_header">
                                                                <h6>Etudiant : {{ etudiant.prenom }} {{ etudiant.nom }}</h6>
                                                                <small>N° Dossier : {{ etudiant.numeroDossier }}</small>
                                                            </div>
                                                        </div>
                                                        <div class="pw_content">
                                                            <div class="pw_header">
                                                                <h6>Livre : {{livre.titre}}</h6>
                                                                <small>Auteur : {{ livre.auteur}}</small>
                                                            </div>
                                                        </div>
                                                        <div id="btn" *ngIf="!empruntCours.confirmer || (empruntCours.dateFin | date : 'd/M/yyyy') > (date| date:'d/M/yyyy')">
                                                            <button (click)="annulerEmprunt(empruntCours.numeroEmprunt , livre)" class="btn btn-outline-dark">Annuler</button>
                                                        </div>
                                                        <div *ngIf="(empruntCours.dateFin | date : 'd/M/yyyy') < (date| date:'d/M/yyyy')" style="margin-top: 10px;">
                                                            <p style="color: rgb(214, 12, 12); text-align: center;">Vous avez depasse la date de remise du livre. Veuilez rendre le livre</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Historique</b></ng-template>
                    <ng-template ngbTabContent>
                        <div class="container " style="margin-top: 3%; ">
                            <div class="row ">
                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="card " *ngFor="let emprunt of etudiant.empruntList ">
                                        <div class="card-body " *ngIf="emprunt.regle==true ">
                                            <div class="row ">
                                                <div class="col-11">
                                                    <h3 class="card-title ">N° {{emprunt.numeroEmprunt}}</h3>
                                                    <small>{{emprunt.dateDebut | date : 'd/M/yyyy' }}</small>
                                                </div>
                                                <div class="col-1 ">
                                                    <i class="ti-eye " (click)="open2(content2 , emprunt) "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>

<ng-template #content2 let-modal>
    <div class="modal-header ">
        <h4 class="col-md-11 col-sm-12 col-xs-12 modal-title " style="font-weight: bold; " id="modal-basic-title ">N° {{ emprunt.numeroEmprunt }}
            <p>
                <small>Date Debut : {{emprunt.dateDebut | date : 'd/M/yyyy'}} - </small>
                <small>Date Fin : {{emprunt.dateFin | date : 'd/M/yyyy'}} - </small>
                <small>Date Remise : {{emprunt.dateremise | date : 'd/M/yyyy'}} </small>
            </p>

        </h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') "><span
aria-hidden="true ">&times;</span></button>
    </div>
    <div class="container-fluid ">
        <div class="row clearfix justify-content-center ">
            <div class="col-md-8 col-sm-12 col-xs-12 ">
                <div class="boxs project_widget ">
                    <div class="pw_img ">
                        <img height="400px " class="img-responsive " [src]="livre.imageCle.url " alt="Image du livre ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="boxs project_widget ">
                <div class="pw_content ">
                    <div class="pw_header ">
                        <h6>Etudiant : {{ etudiant.prenom }} {{ etudiant.nom }}</h6>
                        <small>N° Dossier : {{ etudiant.numeroDossier }}</small>
                    </div>
                </div>
                <div class="pw_content ">
                    <div class="pw_header ">
                        <h6>Livre : {{livre.titre}}</h6>
                        <small>Auteur : {{ livre.auteur}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>